@page "/reader"
@inherits ReaderBase

<PageTitle>Reader</PageTitle>

<h1>Reader</h1>

<p>Input: @((MarkupString)input)</p>

<FluentButton Appearance="Appearance.Accent" @onclick="IncrementCount">Click me</FluentButton>

<p role="status">@((MarkupString)output)</p>
